.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.75rem 1rem;
    background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0 2px 10px rgba(44, 37, 69, 0.12);
    border-radius: 8px;
    width: 215vh;
}


.headerTitle {
    opacity: 0.75;
    color: #fff;
    padding: 5px;
}

.task {
    margin: 30px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2.25rem;
    background: linear-gradient(90deg, #ffffff 0%, #7a7a7a 100%);
    opacity: 1;
}

.btn {}